@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

h1{
    color: #ED1D25;
    font-family: 'Goldman', sans-serif;
    text-align: center;
    margin-top: 18vh;
    font-size: 28px;
}
.botoes{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 15vh;
    width: 80%;
    
}
#ocorrencia{
    background-color: #ED1D25;
    border: none;
    border-radius: 5px;
    color: white;
    height: 10vh;
    font-size: 20px;
}
#historico{
    width: 70%;
    margin: auto;
    background-color: #02005C;
    color: white;
    border: none;
    border-radius: 5px;
    height: 7vh;
    margin-top: 8vh;
    font-size: 20px;
}
img{
    width: 30%;
    margin-top: 25vh;
    margin-left: 6vw;
}