@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


h1{
    color: #ED1D25;
    font-family: 'Goldman', sans-serif;
    text-align: center;
    margin-top: 6vh;
}

.container{
    display: flex;
    flex-direction: column;
}
.linha{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
img{
    width: 60%; 
}
.box{
    width:20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    text-align: center;
    transition: 1s;
}
.box:hover{
    background-color: rgb(161, 165, 168);
    transition: 1s;
}
#agressao{
    width: 100%;
}
#domiciliar{
    width: 55%;
}
#incendio{
    width: 54%;
}
#intoxicacao{
    width: 63%;
}
#choque{
    width: 55%;
}
#queda{
    width: 53%;
}
#bicicleta{
    width: 80%;
}
#suicidio{
    width: 42%;
}
.menor{
    width: 76%;
    margin-left: 6vh;
}
.bmenor{
    width: 28%;
    text-align: center;
}